
ul.menu {
  list-style:none;
  margin:0;
  padding:0;
}
ul.menu li {
  display:inline;
}

table.tasks {
  border-collapse:collapse;
}

.tasks td,
.tasks th { 
  border: solid black 1px; 
  padding: 0 0.3em;
  text-align: left;
  vertical-align:top;
  min-width: 50px;
}
